#conteneur{
    width: 800px;
    height: 600px;
    margin: auto;
    flex-direction: column;
}
header{
    background-color: darkred;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.bleu{
    background-color: blue;
    height:70px ;
    line-height:70px ;
    text-align: center;
}
.vert{
    background-color: chartreuse;
    border: 1px solid  black;
    line-height: 50px;
    text-align: center;
}
footer{
    background-color: darkgoldenrod;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
}