body{
    margin: 0 auto;
    background-color: antiquewhite;
}
div{
    width: 90%;
    margin: 0;
    background-color: lightsteelblue;
}
p{
    background-color: mediumaquamarine;
}
p span{
    background-color: yellow;
}
.boite{
    height: 6vh;
    width: 18vh;
    padding: 5vh;
    background: url(../img/téléchargement.jfif);
    background-repeat: no-repeat;
    border: 5px double orchid;
    margin: 2vh;
    float: left;
    transition: margin0.5s;
}
.boite:hover{
    margin-top: 10vh;
}
.clear{
    clear: both;
}
p:hover{
    color: red;
}
.boite2{
    height: 10vh;
    width: 16vh;
    padding: 5vh;
    background: url(../img/téléchargement2.jfif);
    background-repeat: no-repeat;
    border: 5px double orchid;
    margin: 2vh;
    float: left;
    transition: margin0.5s;
}
.boite2:hover{
    margin-top: 10vh;
}
.boite3{
    height: 9vh;
    width: 18vh;
    padding: 5vh;
    background: url(../img/téléchargement3.jfif);
    background-repeat: no-repeat;
    border: 5px double orchid;
    margin: 2vh;
    float: left;
    transition: margin0.5s;
}
.boite3:hover{
    margin-top: 10vh;